doctype html
html
  head
    title Kirill Novik: Final CSCI4229 Project
    meta(http-equiv="content-type" content="text/html; charset=ISO-8859-1")
    
    block styles
    block scripts
    
  body
    block content
    
    block footer-scripts 