// JavaScript Libraries
script(type="text/javascript" src="libs/gl-matrix-min.js")
script(type="text/javascript" src="libs/jquery-1.5.1.min.js")
script(type="text/javascript" src="libs/jquery-ui-1.8.13.custom.min.js")
script(type="text/javascript" src="libs/prettify.js")
script(type="text/javascript" src="libs/utils.js")
script(type="text/javascript" src="libs/colorpicker.js")
script(type="text/javascript" src="libs/codeview.js")

// Assets
script(type="text/javascript" src="assets/tv.js")

// Logic
script(src="./logic/utils.js")
script(src="./logic/shared.js")
script(src="./logic/gpu/matrix.js")
script(src="./logic/gpu/buffers.js")
script(src="./logic/gpu/programs.js")
script(src="./logic/gpu/textures.js")
script(src="./logic/gpu/framebuffer.js")
script(src="./logic/scene/rain.js")
script(src="./logic/scene/tv.js")
script(src="./logic/scene/background.js")
script(src="./logic/scene/lights.js")
script(src="./logic/scene/index.js")
script(src="./logic/index.js")
script(src="./logic/main.js")
script(src="./logic/gpu/postprocessing.js")
script(src="./intialization.js") 