// CSS Styles
link(href="css/style.css" type="text/css" rel="stylesheet")
link(href="css/desert.css" type="text/css" rel="stylesheet")
link(href="css/colorpicker.css" type="text/css" rel="stylesheet")
link(href="css/smoothness/jquery-ui-1.8.13.custom.css" type="text/css" rel="stylesheet") 