// JavaScript Libraries
script(type="text/javascript" src="app/libs/gl-matrix-min.js")
script(type="text/javascript" src="app/libs/jquery-1.5.1.min.js")
script(type="text/javascript" src="app/libs/jquery-ui-1.8.13.custom.min.js")
script(type="text/javascript" src="app/libs/prettify.js")
script(type="text/javascript" src="app/libs/utils.js")
script(type="text/javascript" src="app/libs/colorpicker.js")
script(type="text/javascript" src="app/libs/codeview.js")

// Assets
script(type="text/javascript" src="app/assets/tv.js")

// Logic
script(src="app/logic/utils.js")
script(src="app/logic/shared.js")
script(src="app/logic/gpu/matrix.js")
script(src="app/logic/gpu/buffers.js")
script(src="app/logic/gpu/programs.js")
script(src="app/logic/gpu/textures.js")
script(src="app/logic/gpu/framebuffer.js")
script(src="app/logic/scene/rain.js")
script(src="app/logic/scene/tv.js")
script(src="app/logic/scene/background.js")
script(src="app/logic/scene/lights.js")
script(src="app/logic/scene/index.js")
script(src="app/logic/index.js")
script(src="app/logic/main.js")
script(src="app/logic/gpu/postprocessing.js")
script(src="app/intialization.js") 