// CSS Styles
link(href="view/css/style.css" type="text/css" rel="stylesheet")
link(href="view/css/desert.css" type="text/css" rel="stylesheet")
link(href="view/css/colorpicker.css" type="text/css" rel="stylesheet")
link(href="view/css/smoothness/jquery-ui-1.8.13.custom.css" type="text/css" rel="stylesheet") 