extends layouts/main

include components/header
include components/canvas
include components/controls

block styles
  include includes/styles

block scripts
  include includes/scripts

block content
  +header
  +canvas
  #bottom
    .controls-container
      .controls-column
        +lightControls
      .controls-column  
        +visualControls

block footer-scripts
  script.
    cview.run(cview.MODE_VIEW_AND_CODE);
  script(src="./view/ui.js")